.post-feed-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background);
    align-items: center;
    margin: 1rem 6rem 1rem 2rem;
}

.post-feed-main-content {
    display: grid;
    grid-template-columns: 280px minmax(0, 1fr);;
    gap: 3rem;
    
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    margin-right: 2rem;
}

.post-feed-filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: sticky;
    top: 1rem;
    align-self: start;
}

.post-feed-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
.post-feed-posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}