.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chatbot-overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
}

.chatbot-window {
  box-sizing: border-box;
  position: fixed;
  right: 1rem;
  bottom: 4rem;

  width: 400px;
  height: 400px;

  display: flex;
  flex-direction: column;

  z-index: 1000;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--border);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.chatbot-messages {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  margin-bottom: 1rem;
  scrollbar-width: none;
}

.chatbot-form {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0; /* prevent form from shrinking */
}

input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 10px;
}
.chatbot-form button {
  background-color: #D96E54;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.chatbot-toggle-button{
  background-color: #D96E54;
  color: white;
  border: none;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  padding: 0.2rem 0.5rem;

  border-radius: 10px;
}

